@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header */

.header {
    background-color: #1f2937;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 15% 50px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.top-menu {
    display: flex;
    justify-content: space-between;
}

.navigation ul {
    display: flex;
}

.navigation li {
    list-style: none;
    margin-left: 20px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 45%;
    padding: 10px;

}

.info-text {
    font-size: 28px;
    font-weight: 900;
    color: #f9faf8;
}

.intro-content button {
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    background-color: #3882f6;
}

.intro-image {
    height: 200px;
    width: 45%;
    padding: 10px;
}

.intro-image img {
    height: 100%;
    width: 100%;
}

/* Main Content */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15% 50px;
}

.content-title {
    margin-top: 30px;
    font-size: 28px;
    font-weight: 700;
}

.boxes {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-top: 30px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
}

.box img {
    border-radius: 5px;
    height: 150px;
    width: 150px;
    margin-bottom: 5px;
}

/* Quote */
.quote {
    background-color: #e5e7eb;
    padding: 20px 15% 50px;
}

.quote-body {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    text-align: right;
    font-weight: 700;
}

/* Action */

.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882f6;
    padding: 50px 100px;
    margin: 50px;
    border-radius: 5px;
}

.action-text {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.action-text-1 {
    font-weight: 700;
    margin-bottom: 2px;
}

.action button {
    padding: 5px 20px;
    border-radius: 5px;
}

/* Footer */

.footer {
    background-color: #1f2937;
}

.copyright {
    margin: 20px auto;
    text-align: center;
    color: #fff;
}